<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>realtime burger app</title>

        <link rel="stylesheet" href="/css/app.css">
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    </head>
    <body>

        <section class="hero py-16 px-28">
            <div class="container mx-auto flex items-center justify-between">
            <div class="w-1/2">
                <h5 class="text-2xl mb-3"><em>A bite of Deliciousness...</em></h5>
                <h1 class="text-7xl px-auto mb-8 font-bold mb-3">Don't wait!!</h1>
                <a  class="px-4 py-2 rounded-full text-white font-bold btn-primary" href="#">Order now</a>
            </div>
                    <div class="w-1/2">
                    <img  src="/images/back.png" alt="">
                </div>

            </div>
        </section>

        <!-- menu part -->

        <section class="menu container mx-auto py-8 px-28 ">
            <h1 class="text-xl font-bold mb-8">Sweet Classics</h1>
            <div class="grid grid-cols-4 ">

            <% brownies.forEach(function(brownie){ %>
                <div class="mb-14 mt-4">
                    <div>
                        <div class="w-45">
                          <img class="h-40 mb-4 mx-auto" src="<%= brownie.image %>" alt="cake">
                          <div class="text-center">
                            <h2 class="mb-4 text-lg"><%= brownie.name %></h2>
                            <span class="size px-4 py-1 rounded-full uppercase text-xs"><%= brownie.size %></span>
                            <div class="flex items-center justify-around mt-6">
                                <span class="font-bold text-lg">₹ <%= brownie.price %></span>
                                <button data-brownie="<%= JSON.stringify(brownie) %>" 
                                    class="addto-cart py-1 px-6 rounded-full flex items-center font-bold">
                                    <span class="mr-4">+</span>
                                    <span>Add</span>
                                </button>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>

           <% }) %>


           
            </div>
        </section>
        <script src="/js/app.js"></script>
    </body>
</html>
